<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <script src="https://kit.fontawesome.com/d17701d3a2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Hello</title>
</head>

<body>
    <div style="align-content: center; margin-bottom: 5vh;">
        <br><br><br>
        <h1>Welcome, please search for your favorite books!</h1>
        <br><br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm">
                <center>
                <input class="search" id="search" type="search" placeholder="Search.." name="search"><i class="fa fa-search" id="searchBtn" onclick="searchBook()"></i>
                </center>
            </div>
            <div class="col-sm">
                <center>
                <button type="button" class="submit" data-toggle="modal" data-target="#myModal" id="modalBtn" onclick="modal()">
                    5 Most Liked Books
                </button>
                </center>

                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" id="modal">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    
    <div class="container">
        <br>
        <table class="table table-bordered text-center" id="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="text-align: center; color: #243370">Title</th>
                <th scope="col" style="text-align: center; color: #243370">Author</th>
                <th scope="col" style="text-align: center; color: #243370">Likes</th>
            </tr>
            </thead>
            <tbody id="result" style="text-align: center;">
            </tbody>
        </table>
    </div>

    <script>
        function searchBook(){
            var search = document.getElementById('search').value
            document.getElementById('result').innerHTML = ""
            console.log(search)

            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=" + search,
                dataType: "json",

                success: function(data) {
                    for (i = 0; i < data.items.length; i++) {
                        try{
                            result.innerHTML += "<tr id='result" + i.toString() + "'><td>" + data.items[i].volumeInfo.title + "</td><td>" + 
                                data.items[i].volumeInfo.authors[0] + 
                                "</td><td><p id='likes" + i.toString() + "'>0</p><i id='thumbs" + i.toString() + "' class='far fa-thumbs-up' onclick=increment('likes" + i.toString() + "')></i></td></tr>"
                        } catch(TypeError) {
                            result.innerHTML += "<tr id='result" + i.toString() + "'><td>" + data.items[i].volumeInfo.title + "</td><td>" + 
                                "Author not found." + 
                                "</td><td><p id='likes" + i.toString() + "'>0</p><i id='thumbs" + i.toString() + "' class='far fa-thumbs-up' onclick=increment('likes" + i.toString() + "')></i></td></tr>"
                        }
                    }
                },

                type: 'GET'
            });
        }

        document.getElementById('search').addEventListener('keyup', function(event) {
            if (event.keyCode == 13) {
                document.getElementById('searchBtn').click()
            }
        }, false)
        
        function increment(likes) {
            book = document.getElementById(likes)
            var count = parseInt(book.textContent) + 1
            book.innerHTML = count
        }

        function modal() {
            sort()
            var modal = document.getElementById("modal")
            modal.innerHTML = ""
            var books = document.getElementById("table")
            var booksRow = books.rows
            for(i = 0; i < 5; i++) {
                modal.innerHTML += "<li>" + booksRow[i+1].cells[0].textContent + " (" + booksRow[i+1].cells[2].textContent + " like(s))</li>"
            }
        }

        function sort() {
            var rows, a, b, check
            var table = document.getElementById("table")
            var checking = true
            while (checking) {
                checking = false
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    check = false
                    a = rows[i].getElementsByTagName("td")[2];
                    b = rows[i + 1].getElementsByTagName("td")[2];
                    if (parseInt(a.textContent) < parseInt(b.textContent)) {
                        check = true
                        break
                    }
                }
                if (check) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    checking = true
                }
            }
        }
    </script>
</body>
</html>