html, body{
    width:100%;
    height:100%;
    background-color: #BBCEDA;
}

.title{
    text-align: center;
    font-size: 100px;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #1A3852;
}

.submit{
    font-weight: 500 ;
    background-color:  whitesmoke;
    color: #1A3852;
    border: 2px solid #1A3852;
    border-radius: 15px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.submit:hover {
    background-color: #1A3852;
    color: white;
}

.search {
    background-color: whitesmoke;
    border-radius: 15px;
    border-color: #1A3852;
    margin-right: 5px;
    padding-left: 10px;
}

.table {
    border: 2px solid #1A3852 !important;
    border-radius: 20px !important;
}

thead, tbody, th, td {
    border-color: #1A3852 !important;
}